@tailwind base;
@tailwind components;
@tailwind utilities;

.listing-image-container {
    width: 150px;
    height: 150px;
    background-color: #6b7280;
}

.ebay_fee_text {
    font-size: 11px;
    padding-right: 5px;
}
